@tailwind base;
@tailwind components;
@tailwind utilities;
.custom-placeholder::placeholder {
    color: #000; /* Your custom color */
    
  }



  body{
    /* background:#737373; */
    background:#000000;
    /* color: #6d685d; */
    /* overflow-x: hidden; */
    /* color: #a1a964; */
  }

  .scrollbar-hide {
    /* Hide scrollbar for WebKit browsers (Chrome, Safari) */
    &::-webkit-scrollbar {
      display: none;
    }
    /* Hide scrollbar for IE and Edge */
    -ms-overflow-style: none; /* IE and Edge */
    /* Hide scrollbar for Firefox */
    scrollbar-width: none; /* Firefox */
  }